:root{
    --dark: #190138;
    --darkBlue: #14213d;
    --laranja: #fca311;
    --cinza: #e5e5e5;
    --light: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

nav{
    position: fixed;
    background-color: var(--dark);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: var(--dark) 0px 5px 15px;
    animation: fromtop 1s ease-in-out;
    z-index: 999;    
}

@keyframes fromtop {
    0%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(0);
    }
}

nav a{
    color: var(--laranja);
    text-decoration: none;
    opacity: 0.8;
    transition: all 200ms ease-in-out;
}

nav a:hover{
    cursor: pointer;
    opacity: 1;
    text-decoration: underline;
    color: var(--light);
}

#s1 {
    height: 100vh;
    min-height: 100vh;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    background-image: url(./images/automacao-de-processos.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
 
.imgDiv{
    background-color: rgb(240, 219, 128);
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    overflow: hidden;
    box-shadow: 0px 3px 10px var(--darkBlue);
}
 
.imgstyle{
    width: auto;
    height: 300px;
    filter: grayscale(0);
    transition: all 200ms ease-in-out;
}

.imgstyle:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}

.textDiv{
    width: 600px;
    height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    color: black;
}

.textDiv h2{
    font-size: 30px;
}

.textDiv p{
    font-size: 23px;
}

#s2 {
    color: var(--light);
    min-height: 100vh;
    background-image: url("./images/automacao-de-processos.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#s2 h1{
    font-size: 56px;
    text-shadow: 0px 3px 10px var(--laranja);
}

.wrapcards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
}

.cards{
    border: 3px solid var(--light);
    padding: 20px;
    background-color: #fcfbfb84;
    border-radius: 20px;
    transition: all 200ms linear;
}

.cards:hover{
    box-shadow: 0px 3px 30px var(--cinza);
}

.cards h3{
    color: var(--laranja);
    text-shadow: 0px 3px 10px var(--laranja);
    font-size: 26px;
    margin-bottom:20px;
}
.cards a{
    color: var(--laranja);
    font-style: italic;
}

hr{
    margin-bottom: 20px;
    margin-top: 10px;
}
#s3 {
     color: var(--light);
    min-height: 100vh;
    background-image: url("./images/automacao-de-processos.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

#s4 {
     color: var(--light);
    min-height: 100vh;
    background-image: url("./images/automacao-de-processos.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

@media (width <= 1024px) {
    #s1 {
        height: auto;
        min-height: 85vh;
    }
 
    .textDiv {
        width: 100%;
    }
 
    .textDiv h2 {
        font-size: 30px;
    }
 
    .textDiv p {
        font-size: 20px;
    }
    .imgDiv{
        margin-top: 20px;
    }
 
}